body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background: r
}

#container {
    position: relative;
    top: 35vh;
    left: 7rem;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
}

section {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.numbers {
    font-size: 40px;
}

.block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 50px;
    width: 50%;
}

p {
    font-size: 40px;
    width: 100%;
}

h3,
p {
    width: 25%;
    text-align: center;
}

@media (max-width:920px) {
    h1 {
        position: relative;
        left: -80px;
        top: -100px;
    }

    .numbers {
        display: flex;
        flex-direction: column;
    }

    .block {
        position: relative;
        left: -80px;
        top: -100px;
    }
}