body *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

#container{
    position: relative;
    top:35vh;
    left: 7rem;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size:60px;
}
section{
    margin:auto;
    display: flex;
    justify-content: space-around;
    width:50%;
}
.numbers{
    font-size:40px;
}
.words{
    display:flex;
    margin: auto;
    font-size:20px;
}
h3{
    font-size:50px;
}
p{
    font-size:40px; 
}
h3, p{
    width:25%;
    text-align: center;
}
